:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  padding: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  color: #272142;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.content,
.contact,
.about {
  padding: 100px 60px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 40px;
}

.email-link:hover {
  text-decoration: underline;
}

.main h1 {
  font-size: 50px;
  line-height: 80px;
}

.main p {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.work_content {
  text-align: center;
}

.work_content h3 {
  font-size: 24px;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.work_content p {
  font-size: 14px;
}

@media (max-width: 960px) {
  h1,
  h2,
  .main h1 {
    font-size: 44px;
  }
  .content {
    padding: 20px 0;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }

  .about {
    text-align: center;
    padding: 0px;
  }
}
